/* fuentes */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
    font-family: "ubuntu";
    margin: 0;
    padding: 0;



}
html{
    scroll-behavior: smooth;
}

/* SECCION INICIO */
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
     url("https://img.freepik.com/vector-gratis/fondo-geometrico-plano_23-2148967370.jpg?w=900&t=st=1677608150~exp=1677608750~hmac=1fc3ad7fe08a563ca8553de8b9b6dd019ee6d2c99f1bc3d4de53e2f5f8f7bbc8");
    background-size: cover;
    background-position: center center;
    color: black;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}

/* menu lateral */

.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 20px;
    background-color: #4bd1bf;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color:#4bd1bf;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.inicio .contenido-seccion .info{
    padding-bottom: 50px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
}
  
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border: 2px solid black ;
}

/* seccion informacion personal */
.informacionpersonal{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.informacionpersonal .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.informacionpersonal .contenido-seccion .especial{
    color: #4bd1bf;
    font-weight: bold;
    margin-top: 15px;
}
.informacionpersonal .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.informacionpersonal .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.informacionpersonal .contenido-seccion .fila .col{
    width: 30%;
}
.informacionpersonal .contenido-seccion .fila .col i{
    color: #4bd1bf;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #4bd1bf;
    line-height: 40px;
    border-radius: 50%;
}
.informacionpersonal .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}    


/* SECCION estudios */
.estudios{
    background-color: #e6e6e6;
    padding: 200px 0 150px 0;
    text-align:left
}
.estudios .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.estudios .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.estudios .contenido-seccion .info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.estudios .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #4bd1bf;
    font-weight: bold;
    border: 2px solid #4bd1bf;
    padding: 10px;
   
}
.estudios .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.estudios .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.estudios .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.estudios .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.estudios .contenido-seccion .info .col table p{
    font-size: 14px;
}




/* SECCION empleos */
.experiencia{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: left;
}
.experiencia .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.experiencia .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.experiencia .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.experiencia .contenido-seccion .info .col{
    width: 45%;
}
.experiencia .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #4bd1bf;
    font-weight: bold;
    border: 2px solid #4bd1bf;
    padding: 10px;

}
.experiencia .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.experiencia .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 2px solid #bab9b9;
}
.experiencia .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.experiencia .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.experiencia .contenido-seccion .info .col table p{
    font-size: 14px;
}